body {
  margin: 0;
  padding: 0;
}


.msgContainer, .msgContainerWritten, .connectionMsgContainer {
  margin: 0;
  padding-left: 10px;
}


.msgContainerWritten {
  text-align: right;
}


.connectionMsgContainer {
  text-align: center;
}


.recieved {
  display: inline-grid;
  margin: 5px;
  padding: 10px;
  height: auto;
  min-width: 40%;
  max-width: 80%;
  border-radius: 5px;
  background-color: #CEF2EC;
  color: #5A6567;
  font-size: 50;
  font-family: Arial;
}


.written {
  display: inline-grid;
  margin: 5px;
  padding: 10px;
  height: auto;
  min-width: 40%;
  max-width: 80%;
  border-radius: 5px;
  background-color: #DFF5F9;
  color: #5A6567;
  font-size: 50;
  font-family: Arial;
}


.connectionMsg {
  display: inline-grid;
  margin: 5px;
  padding: 10px;
  min-width: 40%;
  max-width: 80%;
  border-radius: 5px;
  background-color: #D6DDE3;
  color: #273849;
  font-size: 35;
  font-family: Arial;
  text-align: center;
}


#chat {
  position: absolute;
  margin: 0;
  top: 5%;
  bottom: 170px;
  height: auto;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}


#input {
  position: absolute;
  margin: 10px;
  bottom: 0;
  left: 10%;
  height: 150px;
  width: 80%;
  border: 0px;
  border-radius: 5px;
  background-color: #646E78;
  color: #CDD4DB;
  font-size: 50;
  font-family: Arial;
  text-indent: 5px;
  outline: none;
}


#input::placeholder {
  color: #989FA6;
}


#status {
  padding-left: 10px;
  height: 5%;
  font-size: 20;
  font-style: Arial;
}


#textplace {
  position: absolute;
  margin: 0;
  bottom: 0;
  height: 170px;
  width: 100%;
  background-color: #646E78;
}
