body {
  margin: 0;
  padding: 0;
}

.msgContainer, .msgContainerWritten, .connectionMsgContainer {
  margin: 0;
  padding-left: 10px;
}


.msgContainerWritten {
  text-align: right;
}


.connectionMsgContainer {
  text-align: center;
}


.recieved {
  display: inline-grid;
  margin: 5px;
  padding: 10px;
  height: auto;
  min-width: 10%;
  max-width: 50%;
  border-radius: 5px;
  background-color: #CEF2EC;
  color: #5A6567;
  font-size: 25;
  font-family: Arial;
}


.written {
  display: inline-grid;
  margin: 5px;
  padding: 10px;
  height: auto;
  min-width: 10%;
  max-width: 50%;
  border-radius: 5px;
  background-color: #DFF5F9;
  color: #5A6567;
  font-size: 25;
  font-family: Arial;
}


.connectionMsg {
  display: inline-grid;
  margin: 5px;
  padding: 10px;
  min-width: 10%;
  max-width: 50%;
  border-radius: 5px;
  background-color: #D6DDE3;
  color: #273849;
  font-size: 20;
  font-family: Arial;
  text-align: center;
}


#chat {
  height: 80%;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

#input {
  position: relative;
  top: 20;
  height: 60%;
  width: 30%;
  border: 0px;
  border-radius: 5px;
  background-color: #DDE1E5;
  color: #2E373F;
  font-size: 25;
  font-family: Arial;
  text-indent: 5px;
  outline: none;
}


#status {
  height: 5%;
  background-color: #46535E;
  color: #DDE1E5;
  font-size: 20;
  font-style: Arial;
  text-align: center;
}


#statusValue {
  position: relative;
  top: 20%;
}


#textplace {
  margin: 0;
  height: 15%;
  background-color: #46535E;
}
